.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  /* adding padding to top to put about title below navbar */
}
.navbar-main {
  background-color: rgb(51, 2, 131);
  height: 70px;
  padding-top: 0%;
  padding-bottom: 0%;
  /* navbar tweaking */
}

.main-title {
  background-color: rgb(51, 2, 131);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  box-shadow: none;
  /* main title for site */
}
.button-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* text for navbar dropdown  */
}

.button-text:hover {
  color: rgb(255, 255, 255);
  /* navbar text color change on hover */
}
.button {
  padding-top: 15px;
  background-color: rgb(51, 2, 131);
  color: rgb(255, 255, 255);
  font-size: large;
}
.button:hover {
  background-color: rgb(70, 12, 179);
}
/* navbar change background on hover */
.custom-button {
  height: 70px;
  text-align: center;
}
/* format some buttons for navbar */

.warning-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(189, 13, 13);
  font-family: Verdana, sans-serif;
}
/* title for under construction warning */
.section-title {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;
}
.sub-section-title {
  font-size: 1.8rem;
  font-family: Verdana, sans-serif;
}
.body-text {
  font-size: 1.5rem;
  font-family: Hand;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 20px;
}
.caption-text {
  padding-top: 10px;
  font-size: 1.4rem;
  font-family: Hand;
}
.skill-list {
  font-size: 2rem;
  font-family: Hand;
}
/* formatting text sizes fonts and colors */
.picture-RJ {
  height: auto;
  width: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}
.picture-GM {
  margin-top: -20px;
  width: 20%;
  height: auto;
}
.picture-demo {
  width: 35%;
  height: auto;
}
.picture-desktop {
  width: 60%;
  height: auto;
}
.picture-pendant {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 30%;
  height: auto;
}
.picture-su {
  padding-bottom: 10px;
  width: 30%;
  height: auto;
}
.picture-jhu {
  width: 30%;
  height: auto;
}
.picture-ubuntu {
  width: 25%;
  height: auto;
}
.picture-code {
  padding-top: 15px;
  width: 25%;
  height: auto;
}
.picture-fullstack {
  padding-top: 15px;
  width: 30%;
  height: auto;
}
.picture-wgu {
  padding-top: 20px;
  width: 30%;
  height: auto;
}
/* resize some pictures to scale */
.link:hover {
  color: blue;
}
.navbar-toggler-icon {
  font-size: 0.4rem;
  transform: scale(2, 1);
}
.navbar-toggler {
  font-size: 0.4rem;
  transform: scale(1.2, 2);
}
/* to resize navbar toggler icon, this can be finnicky */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* remove navbar highlight on click */
.navbar-toggler:focus {
  background-color: rgb(70, 12, 179);
}
.custom-button:focus {
  background-color: rgb(70, 12, 179);
}
/* remove border when dropped down adds different background color instead */
.note {
  font-style: italic;
  font-weight: bold;
}
.table-flex {
  text-align: center;
}
#skills {
  padding-top: 55px;
  margin-top: -55px;
}
#experience {
  padding-top: 70px;
  margin-top: -70px;
}
#about {
  padding-top: 75px;
  margin-top: -75px;
}
#links {
  padding-top: 20px;
  padding-bottom: 0px;
}
#mail {
  padding-bottom: 30px;
}
.links-body {
  padding-top: 15px;
}
/* this will make it so clicking these links
will take you to the correct spot on the page
before this i was having problems with the anchor adding padding and a negative margin seems to be a good work around for this */

@media screen and (min-device-width: 320px) and (max-device-width: 800px) {
  /* MEdia queries to adjust all of these relative to phone screens */
  .main-title {
    font-size: 0.8rem;
    transform: scale(1, 1.5);
  }
  .navbar-main {
    background-color: rgb(51, 2, 131);
    height: 70px;
  }
  .button-text {
    padding-top: 0px;
    font-size: 1rem;
    height: 15px;
  }
  .caption-text {
    padding-top: 5px;
    font-size: 1rem;
  }
  .custom-button {
    height: 50px;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
  }
  .picture-RJ {
    height: 60%;
    width: 60%;
    padding-bottom: 10px;
  }
  .picture-GM {
    margin-top: -30px;
    width: 800%;
    height: auto;
  }
  .picture-demo {
    width: 100%;
    height: auto;
  }
  .picture-desktop {
    width: 100%;
    height: auto;
  }
  .picture-pendant {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 90%;
    height: auto;
  }
  .picture-wgu {
    width: 90%;
    height: auto;
    padding-top: 10px;
  }
  .picture-su {
    padding-bottom: 10px;
    width: 85%;
    height: auto;
  }
  .picture-jhu {
    width: 90%;
    height: auto;
  }
  .picture-ubuntu {
    width: 90%;
    height: auto;
  }
  .picture-code {
    padding-top: 15px;
    width: 90%;
    height: auto;
  }
  .picture-fullstack {
    padding-top: 15px;
    width: 90%;
    height: auto;
  }
  .section-title {
    font-size: 2.1rem;
  }
  .sub-section-title {
    font-size: 1.6rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .body-text {
    font-size: 1.2rem;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 5%;
  }
  .skill-list {
    font-size: 1.4rem;
  }
  .links-body {
    padding-top: 15px;
  }
  #mail {
    padding-bottom: 20px;
  }
}
