.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  /* adding padding to top to put about title below navbar */
}
.navbar-main {
  background-color: rgb(51, 2, 131);
  height: 70px;
  padding-top: 0%;
  padding-bottom: 0%;
  /* navbar tweaking */
}

.main-title {
  background-color: rgb(51, 2, 131);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  box-shadow: none;
  /* main title for site */
}
.button-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* text for navbar dropdown  */
}

.button-text:hover {
  color: rgb(255, 255, 255);
  /* navbar text color change on hover */
}
.button {
  padding-top: 15px;
  background-color: rgb(51, 2, 131);
  color: rgb(255, 255, 255);
  font-size: large;
}
.button:hover {
  background-color: rgb(70, 12, 179);
}
.custom-button {
  height: 70px;
  text-align: center;
}
/* format some buttons for navbar */

.warning-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(189, 13, 13);
  font-family: Verdana, sans-serif;
}

.section-title {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;
}
.sub-section-title {
  font-size: 1.8rem;
  font-family: Verdana, sans-serif;
}
.body-text {
  font-size: 1.5rem;
  font-family: Hand;
  margin-left: 50px;
  margin-right: 50px;
}
.caption-text {
  font-size: 1.4rem;
  font-family: Hand;
}
.skill-list {
  font-size: 1.6rem;
  font-family: Hand;
}
/* formatting text sizes fonts and colors */
.picture-GM {
  width: 20%;
  height: auto;
}
.picture-demo {
  width: 35%;
  height: auto;
}
.picture-desktop {
  width: 60%;
  height: auto;
}
.picture-pendant {
  width: 25%;
  height: auto;
}
/* resize some pictures to scale */
.link:hover {
  color: blue;
}
.navbar-toggler-icon {
  font-size: 0.4rem;
  transform: scale(2, 1);
}
.navbar-toggler {
  font-size: 0.4rem;
  transform: scale(1.2, 2);
}
/* to resize navbar toggler icon, this can be finnicky */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  color: white;
}
/* remove navbar highlight on click */
.navbar-toggler:focus {
  background-color: rgb(70, 12, 179);
}
.custom-button:focus {
  background-color: rgb(70, 12, 179);
}
/* remove border when dropped down adds different background color instead */
#skills {
  padding-top: 40px;
  margin-top: -40px;
}
#experience {
  padding-top: 70px;
  margin-top: -70px;
}
#about {
  padding-top: 70px;
  margin-top: -70px;
}
/* this will make it so clicking these links
will take you to the correct spot on the page
before this i was having problems with the anchor */

@media screen and (min-device-width: 320px) and (max-device-width: 800px) {
  /* MEdia queries to adjust all of these relative to phone screens */
  .main-title {
    font-size: 0.8rem;
    transform: scale(1, 1.5);
  }
  .navbar-main {
    background-color: rgb(51, 2, 131);
    height: 70px;
  }
  .button-text {
    padding-top: 0px;
    font-size: 1rem;
    height: 15px;
  }
  .caption-text {
    font-size: 1rem;
  }
  .custom-button {
    height: 50px;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
  }
  .picture-RJ {
    height: 60%;
    width: 60%;
  }
  .picture-GM {
    width: 60%;
    height: auto;
  }
  .picture-demo {
    width: 70%;
    height: auto;
  }
  .picture-desktop {
    width: 100%;
    height: auto;
  }
  .picture-pendant {
    width: 60%;
    height: auto;
  }
  .section-title {
    font-size: 2rem;
  }
  .sub-section-title {
    font-size: 1.4rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .body-text {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .skill-list {
    font-size: 1.3rem;
  }
}
