.content {
  margin-left: auto;
  margin-right: auto;
}
.navbar-main {
  background-color: rgb(51, 2, 131);
  height: 70px;
  padding-top: 0%;
  padding-bottom: 0%;
}
.main-title {
  background-color: rgb(51, 2, 131);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  box-shadow: none;
}
.button-text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.button-text:hover {
  color: rgb(255, 255, 255);
}
.button {
  padding-top: 15px;
  background-color: rgb(51, 2, 131);
  color: rgb(255, 255, 255);
  font-size: large;
}
.button:hover {
  background-color: rgb(70, 12, 179);
}
.custom-button {
  height: 70px;
  text-align: center;
}
.warning-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(189, 13, 13);
  font-family: Verdana, sans-serif;
}

.section-title {
  font-size: 2.4rem;
  font-family: Verdana, sans-serif;
}
.sub-section-title {
  font-size: 1.5rem;
  font-family: Verdana, sans-serif;
}
.body-text {
  font-size: 1.4rem;
  font-family: Hand;
}
.caption-text {
  font-size: 1.2rem;
  font-family: Hand;
}
.skill-list {
  font-size: 1.6rem;
  font-family: Hand;
}
.picture-GM {
  width: 20%;
  height: auto;
}
.picture-demo {
  width: 35%;
  height: auto;
}
.picture-desktop {
  width: 60%;
  height: auto;
}
.picture-pendant {
  width: 25%;
  height: auto;
}

.link:hover {
  color: blue;
}
@media screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .main-title {
    font-size: 0.8rem;
    transform: scale(1, 1.5);
  }
  .navbar-main {
    background-color: rgb(51, 2, 131);
    height: 70px;
  }
  .navbar-toggler-icon {
    font-size: 0.4rem;
    transform: scale(2, 1);
  }
  .navbar-toggler {
    font-size: 0.4rem;
    transform: scale(1.2, 2);
  }
  .button-text {
    padding-top: 0px;
    font-size: 1rem;
    height: 15px;
  }
  .caption-text {
    font-size: 1.2rem;
  }
  .custom-button {
    height: 50px;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
  }
  .picture-RJ {
    height: 60%;
    width: 60%;
  }
  .picture-GM {
    width: 60%;
    height: auto;
  }
  .picture-demo {
    width: 70%;
    height: auto;
  }
  .picture-desktop {
    width: 100%;
    height: auto;
  }
  .picture-pendant {
    width: 60%;
    height: auto;
  }
  .section-title {
    font-size: 2rem;
  }
  .sub-section-title {
    font-size: 1.2rem;
  }
  .body-text {
    font-size: 1.2rem;
  }
  .skill-list {
    font-size: 1.3rem;
  }
}
